WebContent/wsdl/FaturaDAO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gheorghe.alfasoft.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://gheorghe.alfasoft.it" xmlns:intf="http://gheorghe.alfasoft.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://gheorghe.alfasoft.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="getFaturaConCodice">
    <complexType>
     <sequence>
      <element name="codCliente" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFaturaConCodiceResponse">
    <complexType>
     <sequence>
      <element name="getFaturaConCodiceReturn" type="impl:Fatura"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Fatura">
    <sequence>
     <element name="codCliente" nillable="true" type="xsd:string"/>
     <element name="importo" type="xsd:double"/>
     <element name="ragioneSociale" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getTutteFature">
    <complexType>
     <sequence>
      <element name="fature" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTutteFatureResponse">
    <complexType>
     <sequence>
      <element name="getTutteFatureReturn" type="impl:Fatura"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://gheorghe.alfasoft.it"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getFaturaConCodiceResponse">

      <wsdl:part element="impl:getFaturaConCodiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTutteFatureResponse">

      <wsdl:part element="impl:getTutteFatureResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTutteFatureRequest">

      <wsdl:part element="impl:getTutteFature" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFaturaConCodiceRequest">

      <wsdl:part element="impl:getFaturaConCodice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FaturaDAO">

      <wsdl:operation name="getFaturaConCodice">

         <wsdl:input message="impl:getFaturaConCodiceRequest" name="getFaturaConCodiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFaturaConCodiceResponse" name="getFaturaConCodiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTutteFature">

         <wsdl:input message="impl:getTutteFatureRequest" name="getTutteFatureRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTutteFatureResponse" name="getTutteFatureResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FaturaDAOSoapBinding" type="impl:FaturaDAO">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getFaturaConCodice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFaturaConCodiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFaturaConCodiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTutteFature">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTutteFatureRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTutteFatureResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FaturaDAOService">

      <wsdl:port binding="impl:FaturaDAOSoapBinding" name="FaturaDAO">

         <wsdlsoap:address location="http://localhost:5050/SecondoEsempioSOAP/services/FaturaDAO"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
